html,body
    text-align center
    margin 0
p
    display inline-block
.main
    margin-top 50px
    &-img
        width 300px
        height @width
        display inline-block
        clear both

.hello
    width 100%